%h2 Nicolas Blanco

%p
  6 rue de l'Eglise
  %br
  67170 Guedertheim
  %br
  +33 (0)6 33 45 58 42
  %br
  slainer68@gmail.com
  %br
  26 ans, célibataire de nationalité française

%h3 Formation & Certification
%p.justify
  %em 2010 :
  != link_to 'Certification "Ruby Association Certified Ruby Programmer Silver"', "http://www.ruby-assn.org/en/certification.htm"
%p.justify
  %em 2005-2006 :
  Licence Professionnelle Informatique option Administration et Maintenance des Systèmes
%p.justify
  %em 2003-2005 :
  Diplôme Universitaire Technologique Services et Réseaux de Communication
%p.justify
  %em 2002 :
  Baccalauréat général Scientifique au lycée Alfred Kastler de Guebwiller

%hr

%h3 Développement Web

%p.justify
  %em Ruby on Rails

%p.justify
  4 ans d'expérience professionnelle, grande implication dans l'écosystème Ruby et Rails, nombreuses contributions à des projets et librairies libres Ruby, développement en TDD et BDD (TestUnit, RSpec)

%p.justify
  %em Bases de données :
  relationnelles (MySQL, Oracle) et NoSQL (MongoDB)

%p.justify
  %em PHP 5 objet, intégration Web : XHTML, CSS

%h3 Autres compétences en informatique

%p.justify
  %em Systèmes et administration :
  Excellente connaissance et administration des systèmes d'exploitation Windows 9x, NT, 2000, XP, Windows Server 2000/2003 ainsi que des systèmes Unix, GNU/Linux et Mac OS X

%p.justify
  %em Développement client lourd :
  Java, J2EE (environnement Eclipse, WebSphere), Delphi, Visual Basic

%p.justify
  %em Autres :
  Bonne connaissance des outils graphiques de la suite Adobe : Photoshop, Illustrator

%p.justify
  %em Méthodologies de travail :
  Pratique des méthodologies "agiles" (principalement l'eXtreme Programming, Scrum)

%hr

%h3 Langues

%p.justify
  %em Anglais :
  Lu, écrit et parlé. Diplôme de l'Université de Cambridge (First Certificate of English)

%hr

%h3 Expériences professionnelles

%p.justify
  %em Depuis avril 2008 :
  != "Développeur Web chez #{link_to "Novelys", "http://www.novelys.com"}. Travail en équipe agile sur le développement d'applications Web en Ruby on Rails : réseau social de luxe The-Sphere.com, portail gastronomique Keldelice.com..."

%p.justify
  %em Juillet 2006-Novembre 2007 :
  Développeur Web Intranet à la Mairie de Mulhouse. Maintenance et développement d'applications internes en PHP 5, Ruby on Rails et .NET

%p.justify
  %em Mars-Juin 2006 :
  Stage à la Direction Départementale de Securité Publique de la Police Nationale de Strasbourg. Administration client/serveur Windows 2000-XP-2003 et Linux

%p.justify
  %em Mars-Juin 2005 :
  Développement et mise en place d'un logiciel de gestion de contenu en PHP pour le Centre de Recherche du département Gestion des Entreprises et des Administrations de l'I.U.T. de Mulhouse

%h3 Activités et centres d'intérêt

%p.justify
  != "Photographie (découvrez mon #{link_to "flickr", "http://flickr.com/slainer68"})"
  %br
  != "Danse, membre d'une troupe de danseurs de salsa portoricaine : #{link_to "ATOM Dance Company", "http://www.facebook.com/atom.dc"}"
  