%h2 Projects

%h3 Skillstar.com (2011)

%ul
  %li
    %strong
      Skillstar.com :
      = link_to "Website", "http://www.skillstar.com"
    %br
    Online skill games. Ability to bet money to play with other players. The game is broadcasted some mornings on the national French television M6.
    %br
    %em Some key technologies :
    Ruby on Rails 2, jQuery, Redis, Heroku

%h3 Novapost (2010-2011)

%ul
  %li
    %strong
      Camping Avenue :
      = link_to "Website", "http://www.camping-avenue.com/en"
    %br
    E-commerce platform for online booking of campgrounds, bungalows and chalets in Europe.
    %br
    %em Some key technologies :
    Ruby on Rails 3, jQuery
  %li
    %strong
      Bookandgolf :
      = link_to "Website", "http://www.bookandgolf.com/en"
    %br
    Scheduling and e-commerce platform for golf clubs.
    %br
    %em Some key technologies :
    Ruby on Rails 3, Redis/Resque, Sphinx (search engine), jQuery

%h3
  Novelys (2008-2010)

%ul
  %li
    %strong
      Keldelice :
      = link_to "Website", "http://www.keldelice.com"
      |
      = link_to "Project description", "http://www.novelys.com/projets/keldelice"
    %br
    Keldelice is a website about the French gastronomy.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine)
  
  %li
    %strong
      The Sphere :
      = link_to "Website", "http://www.the-sphere.com"
      |
      = link_to "Project description", "http://www.novelys.com/projets/thesphere"
    %br
    The Sphere is a social luxury network.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine), Delayed Job, Paybox payment integration
    
  %li
    %strong
      Lollidays :
      = link_to "Website", "http://www.lollidays.com"
      |
      = link_to "Project description", "http://www.novelys.com/projets/lollidays"
    %br
    Lollidays is a social network specialised in leasure and entertainment activities.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine), Event Machine, jQuery
    
