%h2 Projects

%h3 Novapost (actuellement)

%ul
  %li
    %strong
      bookandgolf.com
    %em (work in progress)
    \:
    %br
    Scheduling and e-commerce platform for golf clubs.

%h3
  Novelys (2008-2010)

%ul
  %li
    %strong
      Keldelice :
      != link_to "Website", "http://www.keldelice.com"
      |
      != link_to "Project description", "http://www.novelys.com/projets/keldelice"
    %br
    Keldelice is a website about the French gastronomy.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine)
  
  %li
    %strong
      The Sphere :
      != link_to "Website", "http://www.the-sphere.com"
      |
      != link_to "Project description", "http://www.novelys.com/projets/thesphere"
    %br
    The Sphere is a social luxury network.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine), Delayed Job, Paybox payment integration
    
  %li
    %strong
      Lollidays :
      != link_to "Website", "http://www.lollidays.com"
      |
      != link_to "Project description", "http://www.novelys.com/projets/lollidays"
    %br
    Lollidays is a social network specialised in leasure and entertainment activities.
    %br
    %em Some key technologies :
    Ruby on Rails 2, Sphinx (search engine), Event Machine, jQuery
    