%h2 Projets professionnels

%p Voici certains des projets professionnels sur lesquels j'ai travaillé.

%h3
  Novelys (2008-2010)

%ul
  %li
    %strong
      Keldelice :
      != link_to "Site web", "http://www.keldelice.com"
      |
      != link_to "Description du projet", "http://www.novelys.com/fr/projets/keldelice"
    %br
    Keldelice est un site internet sur la gastronomie française.
    %br
    %em Quelques technologies clé :
    Ruby on Rails 2, Sphinx (moteur de recherche)
  
  %li
    %strong
      The Sphere :
      != link_to "Site web", "http://www.the-sphere.com"
      |
      != link_to "Description du projet", "http://www.novelys.com/fr/projets/thesphere"
    %br
    The Sphere est un réseau social d'extrême luxe.
    %br
    %em Quelques technologies clé :
    Ruby on Rails 2, Sphinx (moteur de recherche), Delayed Job, intégration paiement Paybox
    
  %li
    %strong
      Lollidays :
      != link_to "Website", "http://www.lollidays.com"
      |
      != link_to "Description du projet", "http://www.novelys.com/fr/projets/lollidays"
    %br
    Lollidays est un réseau social dans le domaine des activités de loisirs et de divertissement.
    %br
    %em Quelques technologies clé :
    Ruby on Rails 2, Sphinx (moteur de recherche), Event Machine, jQuery
