%h2 Mes réalisations

%h3 Web, Ruby et Ruby on Rails

L'utilisation du framework Ruby on Rails incite à respecter le principe Don't Repeat Yourself (DRY).

!= "Vous trouverez sur #{link_to "mon compte Github", "http://github.com/slainer68"} un certain nombre de librairies et de plugins open source que j'ai développé."

%h3 Mes projets libres

%ul
  %li
    %strong
      != link_to "ScopedSearch", "http://github.com/novagile/scoped-search"
    \: une librairie Rails 3 permettant la création de formulaires de recherche et faciliant le tri de vos modèles dans les vues.
  %li
    %strong
      != link_to "Devise RPX Connectable", "http://github.com/slainer68/devise_rpx_connectable"
    \: une librairie Rails permettant d'intégrer à Devise (librairie d'authentification) le support des services de RPX (twitter, facebook, OpenID, Google...).
  %li
    %strong
      != link_to "Easy Vimeo", "http://github.com/slainer68/easy-vimeo"
    \: une librairie Ruby permettant l'envoi de vidéo sur le site de streaming Vimeo.com en quelques secondes...
  %li
    %strong
      != link_to "Acts as slug", "http://github.com/slainer68/acts_as_slug"
    \: une librairie Rails permettant d'utiliser facilement des adresses Web textuelles pour vos objects en base de données (ActiveRecord).

%h3 Contributions à des projets libres

Voici une petite liste non-exhaustive de certains projets libres où j'ai apporté ma pierre... via des patchs, des corrections de bugs ou des améliorations !

%ul
  %li
    %strong
      != link_to "Bundler", "http://gembundler.com/"
    \: J'ai contribué à Bundler, l'utilitaire de gestion des gems livré par défaut avec Ruby on Rails 3.
  %li
    %strong
      != link_to "Facebooker", "http://github.com/mmangino/facebooker"
    \: une librairie facilitant la création d'applications facebook en Ruby on Rails.
  %li
    %strong
      != link_to "Authlogic", "http://github.com/binarylogic/authlogic"
    \: une librairie Ruby et Ruby on Rails d'authentification.
  %li
    %strong
      != link_to "ThinkingSphinx", "http://freelancing-god.github.com/ts/en/"
    \: une librairie Ruby de communication avec le moteur d'indexation Sphinx. ThinkingSphinx permet d'intégrer des fonctionnalités de recherche full-text rapidement dans n'importe quel projet Rails.
  %li
    %strong
      != link_to "Web-app-theme", "http://github.com/slainer68/web-app-theme"
    \: un système de thèmes et de générateurs en Rails pour facilement générer des interfaces, pour un back-office par exemple.
  %li
    %strong
      != link_to "Rails official documentation", "http://github.com/lifo/docrails"
    \: la documentation officielle de Ruby on Rails.
  %li
    %strong
      != link_to "Ruby-vimeo", "http://github.com/matthooks/vimeo"
    \: une librairie Ruby de connexion à l'API Vimeo, célèbre site de streaming de vidéo.
  %li
    %strong
      != link_to "Acts_as_taggable_on", "http://github.com/mbleigh/acts-as-taggable-on/"
    \: une librairie Rails facilitant le "tagging" d'éléments selon le contexte.
  %li
    %strong
      != link_to "Workling", "http://github.com/purzelrakete/workling/"
    \: une librairie de traitement de tâches en asynchrone et abstraction de connexion à des serveurs de queues type AMQP/Starling, etc.
  %li
    %strong
      != link_to "System-settings", "http://github.com/veridit/system_settings/"
    \: une librairie facilitant le stockage d'informations globales d'un site donné.
  %li
    %strong
      != link_to "Ruby-Highrise", "http://github.com/tapajos/highrise/"
    \: une librairie facilitant la connexion avec le service Highrise de 37signals (via l'API du service).
  %li
    %strong
      != link_to "Negative Captcha", "http://github.com/subwindow/negative-captcha/"
    \: une librairie Rails aidant à la réduction du spam dans les formulaires publics par des techniques invisibles à l'utilisateur final.

%h3 Mes dernières présentations publiques

%ul
  %li
    %strong
      != link_to "Rails Party 2008", "http://www.rubyfrance.org/evenements/rails-party-2008/"
      et
      != link_to "Railscamp Paris 2009", "http://railscampparis2.heroku.com/attendees"
    \: présentation de ThinkingSphinx.
  %li
    %strong
      Last Thursday chez CreativePatterns/Novelys
    \: présentation sur la création d'applications Web sur Facebook.
    