%h2 My realisations

%h3 Web, Ruby and Ruby on Rails

Ruby on Rails drives you to follow the DRY (Don't Repeat Yourself) philosophy.

!= "You will find on #{link_to "my Github account", "http://github.com/slainer68"} some librairies and open source software I released."

%h3 My open source projects

%ul
  %li
    %strong
      != link_to "ScopedSearch", "http://github.com/novagile/scoped-search"
    \: A Rail 3 gem that enables you to easily create search forms and do column ordering.
  %li
    %strong
      != link_to "Devise RPX Connectable", "http://github.com/slainer68/devise_rpx_connectable"
    \: A Rails library that integrates RPX services in Devise for easy authentication using facebook, twitter, OpenID, MySpace, Google...
  %li
    %strong
      != link_to "Easy Vimeo", "http://github.com/slainer68/easy-vimeo"
    \: A library that aims to provide an easy implementation of the Vimeo.com APIs. With it you can send a video to Vimeo.com in a few lines of code.
  %li
    %strong
      != link_to "Acts as slug", "http://github.com/slainer68/acts_as_slug"
    \: A library to easily create textual URLs of your ActiveRecord objects.

%h3 Contributions to Open Source projects

Here is a list of some of the projects I contributed to.

%ul
  %li
    %strong
      != link_to "Bundler", "http://gembundler.com/"
    \: I've contributed to Bundler, the gems management utility that is shipped by default with Ruby on Rails 3.
  %li
    %strong
      != link_to "Facebooker", "http://github.com/mmangino/facebooker"
    \: A library to easily develop facebook applications in Ruby on Rails.
  %li
    %strong
      != link_to "Authlogic", "http://github.com/binarylogic/authlogic"
    \: A well-known authentication library in the Ruby world.
  %li
    %strong
      != link_to "ThinkingSphinx", "http://freelancing-god.github.com/ts/en/"
    \: A library to integrate Sphinx in a Rails project. Sphinx enables easy and fast full-text searching in your database records.
  %li
    %strong
      != link_to "Web-app-theme", "http://github.com/slainer68/web-app-theme"
    \: A theme with Rails generators to easily create web interfaces for a back-office for example.
  %li
    %strong
      != link_to "Rails official documentation", "http://github.com/lifo/docrails"
    \: the official Rails documentation and guides.
  %li
    %strong
      != link_to "Ruby-vimeo", "http://github.com/matthooks/vimeo"
    \: A Ruby implementation of the Vimeo.com (famous streaming video website) API
  %li
    %strong
      != link_to "Acts_as_taggable_on", "http://github.com/mbleigh/acts-as-taggable-on/"
    \: A library for tagging your records that can work with multiple contexts.
  %li
    %strong
      != link_to "Workling", "http://github.com/purzelrakete/workling/"
    \: A library to communicate with asynchronous queues servers and librairies (AMQP/Starling...)
  %li
    %strong
      != link_to "System-settings", "http://github.com/veridit/system_settings/"
    \: An useful library to store global information for your application.
  %li
    %strong
      != link_to "Ruby-Highrise", "http://github.com/tapajos/highrise/"
    \: An API implementation of the famous Highrise application from 37signals.
  %li
    %strong
      != link_to "Negative Captcha", "http://github.com/subwindow/negative-captcha/"
    \: A library to implement CAPTCHAs that are transparent and invisible to the final user.

%h3 My latest public presentations

%ul
  %li
    %strong
      != link_to "Rails Party 2008 in Paris", "http://www.rubyfrance.org/evenements/rails-party-2008/"
      and
      != link_to "Barcamp 'Railscamp Paris 2009'", "http://railscampparis2.heroku.com/attendees"
    \: presentation and Q/A about ThinkingSphinx and Sphinx and how to integrate them in a Rails application.
  %li
    %strong
      'Last Thursday' presentation at CreativePatterns/Novelys (Strasbourg - France)
    \: presentation of the facebook API and how to create websites that integrate with facebook.
