%h2 Nicolas Blanco

%p
  %strong e-mail :
  slainer68@gmail.com
  %br
  27 years old, French

%h3 Education & Certification
%p.justify
  %em 2010 :
  = link_to '"Ruby Association Certified Ruby Programmer Silver" Certification', "http://www.ruby-assn.org/en/certification.htm"
%p.justify
  %em 2009 :
  Training 'Trainers : how to build successful trainings' at
  = link_to "Latitude", "http://www.latitude.fr"
  (communication and training agency)
%p.justify
  %em 2005-2006 :
  Licence Professionnelle Informatique option Administration et Maintenance des Systèmes
  (equivalent to Bachelor of Science in Computers)
%p.justify
  %em 2003-2005 :
  Diplôme Universitaire Technologique Services et Réseaux de Communication (Certificate of communication networks and services)
%p.justify
  %em 2002 :
  Baccalauréat général Scientifique (Science baccalaureate)

%hr

%h3 Web Development

%p.justify
  %em Ruby on Rails

%p.justify
  4 years of professional use, implication in the Ruby on Rails ecosystem and community, contributions and open source projects in Ruby, Test Driven and Behaviour Driven Development using TestUnit and Rspec.

%p.justify
  %em Databases :
  relational (MySQL, Oracle) and NoSQL (MongoDB)

%p.justify
  %em PHP 5, web integration : XHTML, CSS

%h3 Other computer competencies

%p.justify
  %em Administration and systems :
  Very good knowledge and knowledge on administration of Windows, Windows Server and Unix-based operating systems.

%p.justify
  %em Fat client development :
  Java, J2EE (environnement Eclipse, WebSphere), Delphi, Visual Basic

%p.justify
  %em Others :
  Good knowledge of the Adobe software Creative Suite (Photoshop, Flash, etc.)

%p.justify
  %em Working methodologies :
  Experience in Agile software development, eXtreme Programming and Scrum.

%hr

%h3 Languages

%p.justify
  %em English :
  First Certificate of English of the Cambridge University.

%hr

%h3 Professional experiences

%p.justify
  %em April 2008-July 2010 :
  Web developper at
  = link_to "Novelys.", "http://www.novelys.com"
  Working in an agile team on Ruby on Rails applications : social luxury network The-Sphere.com, gastronomic portal Keldelice.com...

%p.justify
  %em July 2006-November 2007 :
  Web Developper at the City Hall of Mulhouse (France). Development of internal applications in PHP 5, Ruby on Rails and .NET.

%p.justify
  %em March-June 2006 :
  Intership in the Police of Strasbourg City. System administration of Windows clients and Windows/Linux servers.

%p.justify
  %em March-June 2005 :
  Development of a Content Managing System (CMS) in PHP for the department "Gestion des Entreprises et des Administrations" of the Mulhouse University.

%h3 Interests and activities

%p.justify
  Photography : discover my
  = link_to "flickr account.", "http://flickr.com/slainer68"
  %br
  Salsa dancer in a dance company named
  = link_to "ATOM Dance Company.", "http://www.facebook.com/atom.dc"
  
