!!! Strict
%html(xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    %meta(content="en" http-equiv="content-language")
    %meta(name="author" lang="en" content="Nicolas Blanco")
    %meta(name="copyright" lang="en" content="Nicolas Blanco")
    %meta(name="description" content="#{t_meta(:description)}")
    %meta(name="keywords" content="web,ruby,rails")
    %meta(name="robots" content="all,follow")
    %meta(name="google-site-verification" content="-UUDHllSyVaPrBRanqNYib657V7ziQtQlFyALrnLXXg")
    
    = stylesheet_link_tag "screen", :media => :screen
    %title= t_meta(:title)
    
  %body
    #layout
      #header
        %h1#logo
          = link_to root_url, :title => "Nicolas Blanco" do
            nicolas
            %span.light blanco
            %span.leaf &nbsp;

        %hr.noscreen
        #nav.box
          %ul
            %li
              = link_to '/en' do
                Welcome
                %br
                %span Main page
            %li
              = link_to '/en/realisations' do
                Open source
                %br
                %span and contributions
            %li
              = link_to '/en/projects' do
                Projects
                %br
                %span Professional projects
            %li
              = link_to '/en/slideshares' do
                Presentations
                %br
                %span on Slideshare!
            %li
              = link_to '/en/resume' do
                Me
                %br
                %span My resume
            %li
              = link_to 'http://slainer68.wordpress.com' do
                Blog
                %br
                %span My blog
            %li
              = link_to '/' do
                Français
                %br
                %span Bienvenue !

          %hr.noscreen
          
        #container.box
          #obsah.content.box
            .in= yield
          #panel-left.box.panel
            .in= render 'shared/left_panel'
            
        #footer
          %span.f-left
            &laquo;I am looking for a lot of men who have
            %br
            an infinite capacity to not know what can't be done..&raquo;
            %em
              Henry Ford
          %span.f-right
            XHTML Strict site powered by
            = link_to "Ruby on Rails", "http://www.rubyonrails.org"
            and hosted by
            = link_to "Heroku", "http://www.heroku.com"
    
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15322489-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
