!!! Strict
%html(xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    %meta(content="en" http-equiv="content-language")
    %meta(name="author" lang="en" content="Nicolas Blanco")
    %meta(name="copyright" lang="en" content="Nicolas Blanco")
    %meta(name="description" content="Nicolas Blanco's Portfolio")
    %meta(name="keywords" content="web,ruby,rails")
    %meta(name="robots" content="all,follow")
    != stylesheet_link_tag "screen", :media => :screen
    %title Nicolas Blanco's porfolio, Web developper
    
  %body
    #layout
      #header
        %h1#logo
          - link_to root_url, :title => "Nicolas Blanco" do
            nicolas
            %span.light blanco
            %span.leaf &nbsp;

        %hr.noscreen
        #nav.box
          %ul
            %li
              - link_to '/en' do
                Welcome
                %br
                %span Main page
            %li
              - link_to '/en/realisations' do
                Realisations
                %br
                %span and contributions
            %li
              - link_to '/en/resume' do
                Resume
                %br
                %span My resume
            %li
              - link_to '/' do
                Français
                %br
                %span Bienvenue !

          %hr.noscreen
          
        #container.box
          #obsah.content.box
            .in!= yield
          #panel-left.box.panel
            .in!= render 'shared/left_panel'
            
        #footer
          %span.f-left
            &laquo;Je recherche beaucoup d'Hommes qui ont une capacité infinie
            %br
            de ne pas savoir ce qui ne peut pas être fait.&raquo;
            %em
              Henry Ford
          %span.f-right
            XHTML Strict site powered by
            != link_to "Ruby on Rails", "http://www.rubyonrails.org"
            and hosted by
            != link_to "Heroku", "http://www.heroku.com"
    
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15322489-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
