!!! Strict
%html(xml:lang="fr" lang="fr" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    %meta(content="fr" http-equiv="content-language")
    %meta(name="author" lang="fr" content="Nicolas Blanco")
    %meta(name="copyright" lang="fr" content="Nicolas Blanco")
    %meta(name="description" content="Nicolas Blanco's Portfolio")
    %meta(name="keywords" content="web,ruby,rails")
    %meta(name="robots" content="all,follow")
    != stylesheet_link_tag "screen", :media => :screen
    %title Portfolio de Nicolas Blanco, développeur Web
    
  %body
    #layout
      #header
        %h1#logo
          - link_to root_url, :title => "Nicolas Blanco" do
            nicolas
            %span.light blanco
            %span.leaf &nbsp;

        %hr.noscreen
        #nav.box
          %ul
            %li
              - link_to root_url do
                Accueil
                %br
                %span Page principale
            %li
              - link_to my_work_path do
                Réalisations
                %br
                %span et contributions
            %li
              - link_to my_cv_path do
                CV
                %br
                %span Mon CV
            /%li
            /  - link_to "http://www.salsaonrails.eu" do
            /    Blog
            /    %br
            /    %span Quelques écrits...
          %hr.noscreen
          
        #container.box
          #obsah.content.box
            .in!= yield
          #panel-left.box.panel
            .in!= render 'shared/left_panel'
            
        #footer
          %span.f-left
            &laquo;Je recherche beaucoup d'Hommes qui ont une capacité infinie
            %br
            de ne pas savoir ce qui ne peut pas être fait.&raquo;
            %em
              Henry Ford
          %span.f-right
            Site XHTML Strict propulsé par
            != link_to "Ruby on Rails", "http://www.rubyonrails.org"
            et hébergé sur
            != link_to "Heroku", "http://www.heroku.com"
    
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15322489-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
      